@media (max-width: 450px) {
    body {
        background: url('/src/images/bg-mobile.svg') no-repeat;
        background-color: hsl(257, 40%, 49%);
        background-size: contain;
    }

    .header .logo img {
        width: 130px;
    }

    .main {
        display: flex;
        flex-direction: column; 
        align-items: center;
        padding: 0 25px;
    }

    .main .illustration img {
        width: 350px;
    }

    .main .info {
        text-align: center;
    }

    .main .info h2 {
        font-size: 1.5rem;
        margin-bottom: 30px;
    }

    .main .info button {
        padding: 15px 75px;
    }

    .footer {
        justify-content: center;
    }

    .footer .socials {
        gap: 10px;
    }
}

@media (max-width: 375px) {
    .main .illustration img {
        width: 250px;
    }

    .main .info h2 {
        font-size: 1.2rem;
        margin-bottom: 15px;
    }

    .main .info p {
        margin-bottom: 15px;
        font-size: 15px;
    }
}